* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

header {
  background-color: #000;
}
header .logo img {
  padding: 5px 0;
  width: 70px;
}
header nav {
  padding: 10px 0;
  background-color: #383535;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding: 0px 15px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
}
.main-content{
    height: 65vh;
}
table {
  margin: 20px;
  width: 100%;
  border-collapse: collapse;
}
table thead {
  background-color: green;
  color: #fff;
}
table thead tr th {
  text-align: start;
}
table thead tr th {
  padding: 8px;
}
table tbody tr td {
  padding: 8px;
}
table tbody tr:nth-last-of-type(odd) {
  background-color: rgb(197, 192, 192);
}
table tbody tr:last-child {
  border-bottom: 3px solid green;
}

.main {
  width: 200px;
  background-color: rgb(0, 0, 0, 0.7);
  color: #fff;
  position: fixed;
  z-index: 15;
  height: 100vh;
  padding: 10px;
  left: -180px;

  transition: all 1s;
}
.main:hover{
    left: 0;
    background-color: #000;
}
.main ul li {
    padding: 10px;
}
footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
footer ul{
    display: flex;
    list-style: none;
}
footer ul li{
    padding: 0px 10px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;

}
footer ul li a:hover{
    text-decoration: underline;
}